{
  "presets": [
    ["@babel/env", { "useBuiltIns": "usage" }], "@babel/preset-react", "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/transform-runtime", { "helpers": false, "regenerator": true }]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source"]
    }
  }
}
