.pagination-list {
  clear: both;
  padding: 0px;
  div.pagination-list-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    a {
      opacity: .7;
      list-style: none;
      padding: 6px 10px;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
      color: $colorPrimary;

      &.active {
        background: $colorPrimary;
        color: $white;
        padding: 6px 15px;
      }
      &:not(.active):visited {
        color: $colorPrimary;
      }

      &:not(.active):hover {
        background-color: $hoverPagination;
      }
    }
  }
  margin: 15px auto;
}
