$btnPadding: 6px 12px;

.item-details-page {
  background-color: $white;
  margin: 0 auto;
  max-width: $bpSm;

  border: 1px solid $dedede;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;

  .item-details-container {
    display: flex;
    @media screen and (max-width: $bpXss) {
      display: inline-block;
    }

    .image-container {
      width: 30%;
      padding: 10px;

      @media screen and (max-width: $bpXss) {
        width: 100%;
        padding: 0;
      }

      .item-image {
        width: 100%;
      }
    }
    .content-container {
      width: 70%;
      position: relative;
      padding-bottom: 3rem;

      @media screen and (max-width: $bpXss) {
        width: 100%;
      }

      .item-actions {
        position: absolute;
        bottom: 0px;
      }

      .item-light-title {
        color: $lightBlack;

        a {
          justify-content: left;
          color: $lightBlack;
        }
      }
    }
  }

  .table-container {
    margin-top: 10px;
  }
}
