$lightBlack: #666666;
$lightGray: #AAAAAA;
$white: #FDFDFD;
$gray: #DDDDDD;
$dedede: #dedede;
$activePagination: #337ab7;
$hoverPagination: #e4e4e4;
$lightYellow: #fffef0;
$lightDarkYellow: #fff8c5;
$red: #ce0505;
// theme
$color-primary: #bfa493;
$color-primary-dark: #b6897a;
$color-link: #c1b8a3;
$color-link-visited: #c1b8a3;
