.tag-list {
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid $lightBlack;
    padding: 10px;

    .tag-meta {
      background-color: $white;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      .tag-info {
        padding: 8px;
        text-align: center;

        .tag-title {
          font-size: $mediumFontSize;
        }
      }
    }
  }
}
