/**
 * Web Component Template By => create-module script
 * @version #{version}
 *
 */

// @flow
import React from 'react';
import type { Node } from 'react';

import type { #{componentName}Props } from './types';

const #{componentName} = (props: #{componentName}Props): Node => {
  return <div />;
};

export default #{componentName};
