/**
 * Native Component Template By => create-module script
 * @version 1.0.1
 *
 */

// @flow
import * as React from 'react';

import type { #{componentName}Props } from './types';

const #{componentName} = (props: #{componentName}Props): ?React.Node => {
  return null;
};

export default #{componentName};
