/**
 * Native Component Test Template By => create-module script
 * @version 1.0.0
 *
 */

import React from 'react';
import { shallow } from 'enzyme';
import #{componentName} from '#{importFrom}';

describe('#{testFileName}', () => {
  it('Render', () => {
    const props = {};
    const wrapper = shallow(<#{componentName} {...props} />);
    expect(wrapper).toMatchSnapshot();
  });
});
