/**
 * Native Component Template By => create-module script
 * @version 1.0.2
 *
 */

// @flow
import React from 'react';
import type { Node } from 'react';

import type { #{componentName}Props } from './types';

const #{componentName} = (props: #{componentName}Props): ?Node => {
  return null;
};

export default #{componentName};
