@import "common/font.scss";
@import "common/color.scss";
@import "common/grid.scss";

@import "admin/common.scss";
@import "admin/adminHome.scss";

@import "loginPage.scss";
@import "publicationList.scss";
@import "itemDetailsPage.scss";
@import "navbarHeader.scss";
@import "inputSearch.scss";
@import "sideNavigation.scss";
@import "pagination.scss";
@import "footer.scss";
@import "listsOfPublication.scss";
@import "tagList.scss";
@import "listList.scss";
@import "modal.scss";

html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url('~/assets/img/pattern/foggy_birds.png');
  background-repeat: repeat;
  @extend .calibri-font;
  margin-bottom: 50px;
}
.main-content {
  position: relative;
  min-height: 100%;

  .main-container {
    position: relative;
    min-height: 100%;
  }
  .alert {
    padding: 5px;
  }
  .navbar {
    margin-bottom: 0px;
  }

  .loadingBaseLayer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(88,88,88,0.8);
    z-index: 100000;
  }
  .loadingSpinnerContainer {
      position: fixed;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 0px;
      z-index: 100001;

  }
}
