@import "common/font.scss";
@import "common/color.scss";

@import "loginPage.scss";
@import "publicationList.scss";

body {

  background-image: url(/assets/img/pattern/pattern11.png);
  background-repeat: repeat;
  .alert {
    padding: 5px;
  }
}
