.item-details-page {
  background-color: $white;
  margin: 0 auto;

  .item-details-container {

    .item-info {
      overflow: hidden;

      &.image-container {
        padding: 10px;
        background-image: url(/assets/img/pattern/pattern27.png);
      }

      .item-title {
        font-size: $bigFontSize;
        text-align: left;
        border-bottom: 1px solid $gray;

        .input-title {
          width: 100%;
        }
      }

      .item-small-title {
        font-size: $smallFontSize;
        text-align: left;

        .btn {
          padding: 0px 8px
        }
      }

      .item-light-title {
        color: $lightGray;

        a {
          color: $lightGray;
        }
      }

      .item-table {
        td{
          padding-left: 0px;
        }
      }

      .item-lists-container {

        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        .item-lists {
          padding-right: 30px;
          .lists-of-publication {
            .list {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }

      .item-description {

        textarea {
          width: 100%;
          height: 300px;
        }
      }

      .item-image {
        width: 100%;
      }

      .item-search-results {

        li {
          list-style: none;
          padding: 5px 0px;
          border-bottom: 1px solid $lightGray;
          cursor: pointer;

          &:hover {
            background-color: $lightGray;
          }
        }
      }
    }

    .glyphicon-remove {
      color: $red;
    }
  }
}
