.item-details-page {
  max-width: $containerMaxWidth;
  background-color: $white;
  margin: 0 auto;
  width: 100%;

  .item-details-container {

    .item-info {
      overflow: hidden;

      &.image-container {
        padding: 10px;
        background-image: url(/assets/img/pattern/pattern27.png);
      }

      .item-title {
        font-size: $bigFontSize;
        text-align: left;
        border-bottom: 1px solid $gray;
      }

      .item-small-title {
        font-size: $smallFontSize;
        text-align: left;
      }

      .item-light-title {
        color: $lightGray;

        a {
          color: $lightGray;
        }
      }

      .item-table {
        td{
          padding-left: 0px;
        }
      }

      .item-lists-container {

        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        .item-lists {
          padding-right: 30px;
          .lists-of-publication {
            .list {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }

      .item-image {
        width: 100%;
      }
    }
  }
}
