.lists-of-publication {

  .list-list {
    cursor: pointer;
    text-decoration: underline;

    span {
      &:not(:first-child) {
        margin-left: 20px;
      }
      .glyphicon-remove {
        color: #bdbdbd;
        font-size: 12px;
      }
    }
  }
  .item-search-results {

    .list-table {
      width: 100%;
    }
  }
}
