.publication-details-page {
  max-width: 768px;
  background-color: $white;
  margin: 0 auto;
  width: 100%;

  .publication-details-container {

    .publication-info {
      overflow: hidden;

      &.image-container {
        padding: 10px;
        background-image: url(/assets/img/pattern/pattern27.png);
      }

      .publication-title {
        font-size: $bigFontSize;
        text-align: left;
        border-bottom: 1px solid $gray;
      }

      .publication-writers {
        font-size: $smallFontSize;
        text-align: left;
      }

      .publication-publisher {
        color: $lightGray;
      }

      .publication-image {
        width: 100%;
      }
    }
  }
}
