.publication-list {
  $publicationWidth: 200px;

  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;

  li {
    margin-bottom: 30px;
    border-bottom: 1px solid $lightBlack;
    padding: 10px;

    .publication-meta {
      background-color: $white;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      .publication-image-mask {
        height: 260px;
        overflow: hidden;

        .publication-image {
          width: $publicationWidth;
          text-align: center;
          cursor: pointer;
        }
      }

      .publication-info {
        width: $publicationWidth;

        padding: 8px;
        text-align: center;

        .publication-title {
          font-size: $mediumFontSize;
        }
        .publication-writers {
          color: $lightBlack;
          font-size: $smallFontSize;
        }
      }
    }
  }
}

.pagination-list {
  div.pagination-list-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $white;

    a {
      list-style: none;
      padding: 6px 10px;
      cursor: pointer;
      border-radius: 3px;

      &.active {
        background: $activePagination;
        color: $white;
        padding: 6px 12px;
      }

      &:not(.active):hover {
        background-color: $hoverPagination;
      }
    }
  }

  max-width: $containerMaxWidth;
  margin: 15px auto;
  padding: 10px 20px;
}
