/**
 * Index Template By => create-module script
 * @version 1.0.0
 *
 */

export { default as Web } from './#{className}WebContainer';
export { default as Native } from './#{className}NativeContainer';
