/**
 * Screen Test Template By => create-module script
 * @version 1.0.0
 *
 */

import React from 'react';
import { shallow } from 'enzyme';
import #{className} from '#{importFrom}';

describe('#{testFileName}', () => {
  const props = {};

  it('Render', () => {
    const wrapper = shallow(<#{className} {...props} />);
    expect(wrapper).toMatchSnapshot();
  });
});
