/**
 * Actions Template By => create-module script
 * @version #{version}
 *
 */

// @flow
import type { ImmutableState } from 'store/StateTypes';

export const mapStateToProps = (state: ImmutableState) => ({});
export const mapDispatchToProps = {};
