$lightBlack: #666666;
$lightGray: #AAAAAA;
$white: #FDFDFD;
$gray: #DDDDDD;
$dedede: #dedede;
$hoverPagination: #e4e4e4;
$lightYellow: #fffef0;
$lightDarkYellow: #fff8c5;
$red: #ce0505;

// theme
$colorPrimary: #a1887f;
