/**
 * Native Screen Template By => create-new script
 * @version 1.0.0
 *
 */

import { connect } from 'react-redux';
import { connect as connectUi } from 'helpers/connect';
import { Text, View } from 'ui/native';
import #{className}Screen from './#{className}';
import { mapStateToProps, mapDispatchToProps } from './#{screenName}Actions';

const mapUiToProps = () => ({ Text, View });

export default connect(mapStateToProps, mapDispatchToProps)(connectUi(mapUiToProps)(#{className}Screen));
