$lightBlack: #666666;
$lightGray: #AAAAAA;
$white: #FDFDFD;
$gray: #DDDDDD;
$activePagination: #337ab7;
$hoverPagination: #e4e4e4;
$lightYellow: #fffef0;
$lightDarkYellow: #fff8c5;
$coolYellow: #fffee2;
$red: #ce0505;
