$smallFontSize: 12px;
$mediumFontSize: 16px;
$bigFontSize: 22px;

@font-face {
    font-family: 'Calibri';
    src: url('~/static/fonts/CALIBRI.ttf');
}

.calibri-font {
  font-family: 'Calibri';
  font-size: $mediumFontSize;
}
