.input-search {
  max-width: $containerMaxWidth;
  margin: 0 auto;

  .custom-search-input{
      padding: 3px;
      border: solid 1px #E4E4E4;
      border-radius: 6px;
      background-color: #fff;

      input {
        border: 0;
        box-shadow: none;
      }

      button {
        border: 0;
        border-left: solid 1px #ccc;
        font-size: 24px;

        &:focus {
          outline: 0;
        }
        &:hover {
          border: 0;
          box-shadow: none;
          border-left: solid 1px #ccc;
        }
      }
      .input-group {
        display: table;

        .input-group-btn {
          width: 1%;
          white-space: nowrap;
          vertical-align: middle;
          display: table-cell;
        }
      }
  }
}
