 .navbar-header {
  .navigation {
    @media screen and (max-width: $bpXs) {
      position: absolute;
      background-color: $lightGray;
      top: 56px;
      z-index: 100;
      width: 100%;

      &.disabled {
        display: none;
      }
    }

    a, button {
      @media screen and (max-width: $bpXs) {
        margin: 10px 0 !important;
        width: 100%;
      }
    }
  }

  > div > button:last-of-type {
    @media screen and (min-width: $bpXs) {
      display: none;
    }
  }
}
