/**
 * Reducers Template By => create-module script
 * @version #{version}
 *
 */

import { handleActions } from 'redux-actions';
import { dummyAction } from './actions';

const initialState = {
  dummyField: null,
};

const reducer = new Map([
  [
    dummyAction,
    (state, action) => ({ ...state, dummyField: action.payload }),
  ],
]);

export default handleActions(
  reducer,
  initialState
);
