/**
 * Services Template By => create-module script
 * @version 1.1.1
 *
 */

// @flow

import Api, { DUMMY_SERVICE } from 'helpers/api';
import type { DummyRequest, DummyResponse } from './types';
import type { Dispatch } from 'redux';

export const dummyRequest = (request: DummyRequest): Promise<DummyResponse> => {
  return Api.get(dispatch: Dispatch<*>)(DUMMY_SERVICE, request);
};
