.list-list {
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid $lightBlack;
    padding: 10px;

    .list-meta {
      background-color: $white;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      .list-info {
        padding: 8px;
        text-align: center;

        .list-title {
          font-size: $mediumFontSize;
        }
      }
    }
  }
}
